IV_WING_Android/*.iml
IV_WING_Android/.gradle
IV_WING_Android/local.properties
IV_WING_Android/.idea/caches
IV_WING_Android/.idea/libraries
IV_WING_Android/.idea/modules.xml
IV_WING_Android/.idea/workspace.xml
IV_WING_Android/.idea/navEditor.xml
IV_WING_Android/.idea/assetWizardSettings.xml
IV_WING_Android/.DS_Store
IV_WING_Android/build
IV_WING_Android/captures
IV_WING_Android/.externalNativeBuild
IV_WING_Server/config