<!doctype html>
<html class="no-js" lang="ko">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>로그인</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="../stylesheets/index.css">

	<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

	<script src="../javascripts/index.js"></script>
</head>

<body>
  <div id = "login_background">
        <div id = "login_container">
            <div id ="login_main_container">
                <div id = "login_logo_box">
                    <div class="sample_text">
                        <img src="../images/login_logo.png">
                    </div>
                </div>
                <div id = "login_form_box">
                	<div class = "each_input">
	                    <input type = "text" id = "userEmail" placeholder = "이메일"/>
	                    <img src="../images/login_user.png" style='left:17px; top:17px;'/>
	                </div>
	                <div class = "each_input">
	                    <input type = "password" id = "userPwd" placeholder = "비밀번호"/>
	                    <img src="../images/login_lock.png" style='left:12px; top:14px;'/>
                	</div>
                    <button type = "button" id = "login_btn"><p>로그인</p></button>
                </div>
            </div>
            <div id="login_sub_container">
                <div class="login_option_box">
                    <span>로그인 유지</span>
                    <input type="checkbox" id="keep_log_checkbox" checked="checked "/><label id="keep_log_label"></label>
                </div>
                <div class="login_option_box"><a href = "#" target = "_blank"><span>아이디 찾기</span></a></div>
                <div class="login_option_box"><a href = "#" target = "_top"><span>비밀번호 분실</span></a><a href = "#" target = "_top"><span>/변경</span></a></div>
            </div>
        </div>
    </div>
</body>
</html>